.parent {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    width:100px;
    z-index: 100;
    position: fixed;
    }

    .parent:hover :nth-child(1) {
        transform-origin: top left;
        -webkit-animation: spinpos 2.0s forwards; 
        animation: spinpos 2.0s forwards;
    }

    .parent:hover :nth-child(2) {
        transform-origin: top right;
        -webkit-animation: spinneg 2.0s forwards; 
        animation: spinneg 2.0s forwards;

    }

    .parent:hover :nth-child(3) {
        transform-origin: bottom left;
        -webkit-animation: spinneg 2.0s forwards; 
        animation: spinneg 2.0s forwards;

    }

    .parent:hover :nth-child(4) {
        transform-origin: bottom right;
        -webkit-animation: spinpos 2.0s forwards; 
        animation: spinpos 2.0s forwards;

    }


    @keyframes spinneg {
        from {transform:rotate(0deg);}
        to {transform:rotate(-90deg);
        }
    }

    @keyframes spinpos {
        from {transform:rotate(0deg);}
        to {transform:rotate(90deg);}
        
    }

   
    
.parent > * {
    width:50px;
    height:50px;
    
}

    .div1 { grid-area: 1 / 1 / 2 / 2; 
    background-color: red;
    }
    .div2 { grid-area: 1 / 2 / 2 / 3; 
        background-color: yellow;}

    .div3 { grid-area: 2 / 1 / 3 / 2; 
        background-color: blue;}
    .div4 { grid-area: 2 / 2 / 3 / 3; 
        background-color: green;
    }


.hiddentext {
    background-color: aquamarine;
    position: fixed;
    width: 100px;
    height: 100px;
    text-align: center;
    line-height: 100px;
}