.wrapper {
    display: flex; 
    flex-direction: column;
}

body {
    background-color: #e2d0b9;
}

.form { display: flex;
    flex-direction: column;
    padding: 20px;
}

.banner{
    display: flex;
    flex-direction: row;
}
.titlecontent{
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.logo{
    padding: 20px;
    -webkit-filter: invert(100%);
    filter: invert(100%);
}

.foot{
    padding-left: 20px;
}

.form label{
    padding-top: 10px;
    padding-bottom: 10px;
}

.articleparent{
    padding: 20px;
    justify-content: space-between;
    
}
.articleparent > * { flex: 1;
    padding-left: 10px;
    padding-right: 10px;
    text-align: justify;
}

.articleparent div>h3{
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-weight: 400 !important
}

.articleparent div>h5{
    margin-top: -15px;
}




.form input{
    width: 280px;
    height: 20px;
}

.form textarea{
    width: 380px;
}

.form input[type=submit]{
    width: 80px;
    margin-top: 8px;
    background-color: antiquewhite;
    color: black;
}

.form input[type=submit]:hover{
    background-color:darkolivegreen;
    color: antiquewhite;

}


* { 
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-weight: 200;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .articleparent {
        display: flex;
        flex-direction: column;
      
        }

        .logo{
            width:100px;
            height:100px;
        }
    
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    .articleparent {
        display: flex;
        flex-direction: column;
      
        }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    .articleparent {
        display: flex;
        flex-direction: row;
      
        }
    
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .articleparent {
        display: flex;
        flex-direction: row;
      
        }
    
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    .articleparent {
        display: flex;
        flex-direction: row;
      
        }
    
}
